{% extends "layout.html" %}

{% block title %}
Explore KMeans
{% endblock %}

{% block main %}
<div id="formcont">
    <h1 class="mb-5 fw-bold">Select a Scenario</h1>
    <form id="form-kmeans">
        <div class="mb-3 d-flex flex-wrap gap-3 justify-content-center">
            <div class="d-flex flex-column align-items-center gap-3">
                <label for="radio_scenario_1">
                    <img src="{{ url_for('static', filename='scenarios/scenario1.png') }}" alt="Scenario 1">
                </label>
                <input type="radio" id="radio_scenario_1" name="scenario" value="scenario1" required>
            </div>
            <div class="d-flex flex-column align-items-center gap-3">
                <label for="radio_scenario_2">
                    <img src="{{ url_for('static', filename='scenarios/scenario2.png') }}" alt="Scenario 2">
                </label>
                <input type="radio" id="radio_scenario_2" name="scenario" value="scenario2" required>
            </div>
            <div class="d-flex flex-column align-items-center gap-3">
                <label for="radio_scenario_3">
                    <img src="{{ url_for('static', filename='scenarios/scenario3.png') }}" alt="Scenario 3">
                </label>
                <input type="radio" id="radio_scenario_3" name="scenario" value="scenario3" required>
            </div>
            <div class="d-flex flex-column align-items-center gap-3">
                <label for="radio_scenario_4">
                    <img src="{{ url_for('static', filename='scenarios/scenario4.png') }}" alt="Scenario 4">
                </label>
                <input type="radio" id="radio_scenario_4" name="scenario" value="scenario4" required>
            </div>
            <div class="d-flex flex-column align-items-center gap-3">
                <label for="radio_scenario_5">
                    <img src="{{ url_for('static', filename='scenarios/scenario5.png') }}" alt="Scenario 5">
                </label>
                <input type="radio" id="radio_scenario_5" name="scenario" value="scenario5" required>
            </div>
        </div>
        <div class="mt-5 d-flex flex-wrap justify-content-center gap-4">
            <input autocomplete="off" class="form-control" name="k_amount" placeholder="K value" type="number" min="1"
                max="20">
            <input autocomplete="off" class="form-control" name="max_iter" placeholder="Max iterations" type="number"
                min="1">
            <button class="btn btn-dark" type="submit">Execute</button>
        </div>
    </form>
</div>

<div id="loader" class="d-none text-center my-5">
    <div class="spinner-border text-primary" role="status"></div>
</div>

<div id="results-container" class="d-none container-xxl">
    <div class="row">
        <div class="col-xl-8 col-lg-12">
            <div class="row g-3 mb-3 mb-sm-1">
                <div class="col-12 col-md-4">
                    <img id="img-original" class="img-fluid border rounded w-100" alt="Original graph image">
                </div>
                <div class="col-12 col-md-4">
                    <img id="img-clusters" class="img-fluid border rounded w-100" alt="Clusters graph image">
                </div>
                <div class="col-12 col-md-4">
                    <img id="img-movement" class="img-fluid border rounded w-100" alt="Movement graph image">
                </div>
            </div>

            <div class="row g-3 mb-3 mb-sm-1">
                <div class="col-12">
                    <img id="img-metrics" class="img-fluid border rounded w-100" alt="Metrics graph image">
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-4">
                <div class="card-body">
                    <pre id="exec-log" class="mb-0 text-muted text-start"></pre>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-3">
                <a id="btn-download-zip" class="btn btn-success">
                    <i class="bi bi-download"></i> Download zip package
                </a>
                <a href="/" class="btn btn-info btn-lg">Return to Homepage</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/request_kmeans.js') }}"></script>
{% endblock %}